<div class="container-fluid">

<div class="row">
<h1>Terraform Projects</h1>

<%= link_to "Create Project", new_foreman_terraform_project_path, class: "btn btn-primary pull-right" %>


</div>
<div class="row">
<table class="table table-bordered table-striped table-hover table-fixed">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project|%>
    <tr>
      <td><%= project.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  
</div>
</div>