<div class="row">
<h1>Create Terraform Projects</h1>
</div>
<%= breadcrumbs(
    items: [
      {
        caption: "Projects",
        url: url_for(foreman_terraform_projects_path)
      },
      {
        caption: "Create Terraform Projects"
      }
    ],
    switchable: true
  )
%>

<%= render 'form', project: @project %>